@import "bootstrap/scss/functions";

$primary: #c67c4e;
$secondary: #858796;
$success: #1cc88a;
$info: #36b9cc;
$warning: #f6c23e;
$danger: #e74a3b;
$light: #f8f9fc;
$dark: #5a5c69;

@import "bootstrap/scss/bootstrap";
