@import "bootstrap/scss/functions";

$primary: #c67c4e;
$secondary: #858796;
$success: #1cc88a;
$info: #36b9cc;
$warning: #f6c23e;
$danger: #e74a3b;
$light: #f9f9f9;
$dark: #000000;

@import "bootstrap/scss/bootstrap";
